*{
    margin: 0;
}

body{
        min-height: 100vh;
        background-color: rgb(254,250,239);
        font-family: "Rubik", sans-serif;
}

.atf{
    background-color: rgb(174,174,173);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 16px;
}

#file{
    background-color: rgb(39,53,90);
    height: 16px;
    transition: 1s ease;
}

.card{
    display: flex;
    width: 600px;
    height: 400px;
    position: relative;
}

.column{
    display: flex;
    flex-direction: column;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.absolute-left-0{
    position: absolute;
    left: 0;
}

.fixed-width{
    width: 56px;
}

.margin-top{
    margin-top: 32px;
}

.vertical-line{
    width: 2px;
    height: 16px;
    background-color: white;
}

.display-none{
    display: none;
}

.subject{
    color: rgb(174,185,213);
}

.margin-bottom-8{
    margin-bottom: 8px;
}


nav{
    font-family: "Rubik", sans-serif;
    height: 400px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.bg-blue{
    background-color: rgb(39,53,92);
}

.padding-8{
    padding: 8px;
}

.color-white{
    color: white;
}

.center{
        display: flex;
        justify-content: center;
        align-items: center;
}

.margin-left-16{
    margin-left: 16px;
}

.quiz-questions{
    background-color: rgb(247,247,247);
    flex: 1;
    height: 400px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.font-family-ptsans{
    font-family: "PT Sans", sans-serif;
    text-align: center;
}

.background-image-brain{
    background-image: url(./img/brainbg.jpg);
    background-position: center;
    background-size: cover;
}

.start-button{
    background-color: rgb(254,79,16);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    height: 32px;
    width: 150px;
    border-radius: 8px;
    position: absolute;
    right: 24px;
    bottom: 24px;
    cursor: pointer;
}

.questions{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font-weight: 500;
    font-size: medium;
}

.answers{
    background-color: white;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
    width: 350px;
    cursor: pointer;
}

.letter{
    background-color: rgb(214,214,214);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    font-weight: 400;
    font-style: normal;
}

.rightLetter{
    background-color: rgb(78,191,25);
}

.rightAnswer{
    background-color: rgb(183,247,153);
}

.falseLetter{
    background-color: rgb(247,24,27);
}

.falseAnswer{
    background-color: rgb(255,163,164);
}

span{
    font-weight: 400;
    font-style: normal;
}

.arrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 100px;
    right: 0;
}

.icon{
    width: 32px;
    height: 32px;
    pointer-events: none;
}

.icon-previous{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.clickable{
    cursor: pointer;
    pointer-events: visible;
}

/* Anfang Endscreen */

.end-screen{
    background-color: rgb(247,247,247);
    flex: 1;
    height: 400px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    justify-content: center;
    position: relative;
}

.end-brain{
    width: 80px;
    height: 80px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.column-endscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-score{
    color: rgb(233,135,62);
    font-size: 24px;
    font-weight: bold;
}

.fixed-width-200{
    width: 200px;
    margin-top: 32px;
}

.replay-button{
    color: rgb(43,67,177);
    border: none;
    background-color: rgb(247,247,247);
    margin-top: 48px;
    cursor: pointer;
}

.tropy{
    width: 30vw;
    height: 70vh;
    position: absolute;
    right: 0;
    top: 20vh;
}

